@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --section-background: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'player player player';
  grid-template-columns: 350px 1fr;
  grid-template-rows: 50px 1fr 70px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-area-aside {
    grid-area: aside;
  }
  .grid-area-main {
    grid-area: main;
  }
  .grid-area-player {
    grid-area: player;
  }
  .grid-area-header {
    grid-area: header;
  }
}
