@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #121212;
  --foreground: #1f1f1f;
}

body {
  color: var(--primary);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    'header header header'
    'aside main main'
    'player player player';
  grid-template-columns: 350px 1fr;
  grid-template-rows: 50px 1fr 70px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-area-aside {
    grid-area: aside;
  }
  .grid-area-main {
    grid-area: main;
  }
  .grid-area-player {
    grid-area: player;
  }
  .grid-area-header {
    grid-area: header;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
