@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: grid;
  grid-template-areas:
    'aside main main'
    'player player player';
  grid-template-columns: 280px 1fr;
  grid-template-rows: 1fr 70px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .grid-area-aside {
    grid-area: aside;
  }
  .grid-area-main {
    grid-area: main;
  }
  .grid-area-player {
    grid-area: player;
  }
}
